/* Your existing footer styles */
.status-container {
    display: flex;
    /* justify-content: flex-center; */
    align-items: center;
    flex-direction: column;
    justify-content: flex-end; /* Align to the bottom */
    height: 400px;
  }
  .green-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
  }
  .copyright {
    position: fixed;
    top: 90%; /* Adjust vertical position */
    right: 20px; /* Adjust horizontal position */
    transform: translateY(-50%); /* Center vertically */
  }